*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.App2{
  background-color: #BBD6E6;
}

.App Body {
  text-align: justify;
  background-color: #BBD6E6;
  width: 100%;
  
}

.App header{
  height: 60px;
  width: 100%;
  background-color: #2B4e62;
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  z-index: 2000; 
  top: 0;
}

.App main{
  background-color: #BBD6E6;
  height: 100%;
  width: 100%;
  

}

.App footer{
  background-color: #2B4e62;
  color: #fff;
  text-align: center;
}

.footer p{
  padding: 10px;
}

.App2 .header{
  height: 60px;
  width: 100%;
  background-color: #2B4e62;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1; 
  top: 0;
}

.App2 .main{
  background-color: #BBD6E6;
  margin-top: 60px;
  height: 80%;
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

.App2 .main h1{
  color: #2B4e62;

}

.App2 .footer{
  background-color: #2B4e62;
  color: #fff;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: -3px;
  text-align: center;
  
}
.footer{
  background-color: #2B4e62;
  color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: -3px;
  text-align: center;
  
}

.App2 .footer p {
  padding: 25px;
}

.Main{
  background-color: #BBD6E6;
  height: 80%;
  width: 100%;
  display: block;
  
}

#inicio .txt-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.Body2{
    width: 100%;
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BBD6E6;
}

.Body2 h1{
  height: 30%;
  margin: 10px 0px;
}

.Body3{
  width: 100%;
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BBD6E6;
}

.Body3 h1{
height: 30%;
margin: 10px 0px;
color: #2B4e62;
}

.options{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #BBD6E6;
    justify-content: space-around;
}

.option{
    width: 250px;
    height: 250px;
    padding: 2em 1.5em;
    
    border-radius: 5px;
    cursor: pointer;
    background-color: #2B4e62;
    background-image: url(../src/images/fondo1.png);
    background-size: cover;
    position: relative;
}

.option h3{
  color: #fff;
}

.option p{
  color:#fff
}

.option a{
  text-decoration: none;
  color: #fff;
}

.option2{
  width: 250px;
  height: 250px;
  padding: 2em 1.5em;
  
  border-radius: 3px;
  cursor: pointer;
  background-color: #2B4e62;
  background-size: cover;
  position: relative;
}

.option2 h3{
color: #fff;
}

.option2 p{
color:#fff
}

.option2 a{
text-decoration: none;
color: #fff;
}

.Body{
  width: 100%;
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2B4e62;
}

.Body h1{
  height: 50%;
  padding: 0;
  color: #2B4e62;
  justify-content: left;
}


section#inicio{
  width: 100%;
  height: 500px;
  background-color: #2B4e62;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

section#inicio .img-cover{
  width: 100%;
  height: inherit;
  background-image: url("./images/pexels.jpg");
  /*background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */

}
section#inicio .img-cover2{
  width: 100%;
  height: inherit;
  background-image: url("./images/fondo2.png");
  /*background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */

}

#inicio .txt-intro{
  padding: 0 19px;
  width: 60%;
  line-height: 2;
  color: #fff;
}

#inicio .txt-intro2{
  padding: 0 15px;
  width: 50%;
  line-height: 2;
  color: #fff;
}

.main-container{
  max-width: 1000px;
  width: 90%;
  height: inherit;
  
}

.main-title{
  font-size: 25px;
  font-weight: bold;
}



Body{
  background-color: #BBD6E6;
}

.option img {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 40%;
  height: 40%;
}

.option2 img {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 40%;
  height: 40%;
}


/* styles.css */
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./images/login.jpg);
    background-size: cover;
    
}

.login-form {
    background: rgba(34, 128, 182, 0.5);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(34, 128, 182, 0.5);
    text-align: center;
}

.login-form h2 {
    font-size: 35px;
    font-weight: 200;
}

.login-form label {
    display: inline;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
}

.login-form input[type="text"],
.login-form input[type="password"],.login-form input[type="email"] {
    width: 100%;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-bottom: 10px;
}

.login-form button[type="submit"] {
    width: 103%;
    height: 30px;
    background: rgba(34, 100, 182, 0.5);
    border: 1px solid #fff;
    font-family: 'Exo', sans-serif;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    text-decoration: none;
    margin-bottom: 10px;
}

.login-form button[type="submit"] a{
  text-decoration: none;
  color: #fff;
}

.login-form button[type="submit"]:hover {
    opacity: 0.8;
}

.login-form button[type="submit"]:active {
    opacity: 0.6;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus,
.login-form button[type="submit"]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}


.Menu{
  background: #2B4e62;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.nav-logo a{
  font-weight: lighter;
  
  margin: 15px;
  color: #fff;
  text-decoration: none; 
}

.nav_items a{
  color:#fff;
  text-decoration: none;
  padding: 15px;
  font-weight: lighter;

}

@media (max-width: 768px){
  .nav_items{
    position: absolute;
    top: 60px;
    left: 0;
    background: #2B4e62;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 300%;
    transform: translateX(-100%);
    transition: 0.3s ease all;
    z-index: 1;
  }
  .nav_items a{
    color:#fff;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;

  }
  .nav_items.open{
    transform: translateX(0) !important;
  }
  .nav_toggle{
    display: flex !important;
    flex-direction: column;
    margin: 15px;
  }
  .nav_toggle span{
    width: 30px;
    height: 4px;
    background: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }
  .nav_toggle.open > span{
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open > span:nth-child(2){
    display: none;
  }
  .nav_toggle.open > span:nth-child(3){
    transform: rotate(-45deg) translate(-5px, 1px);
  }
  
}







.datosclientes form ul li{
  display: inline-grid;
  margin: 20px;

}

.datosclientes form ul li input{
  display: inline-block;
	width: 97%;
	cursor: pointer;
  padding: 3px 3px;
  height: 20px;
  outline: 0; 
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  margin: 5px;  
}

.datosclientes button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-style: none;
  width: 60px;
  height: 50px;
}

.eliminareditarclientes .contenedor{
  background-color: #BBD6E6;
}

.eliminareditarclientes .encabezado{
  padding: 30px;
  
}

.eliminareditarclientes .titulo h2{
  padding: 20px;
  color: #2B4e62;
  font-weight:normal;
  
}

.eliminareditarclientes .encabezado input{
  display: inline-block;
	width: 30%;
	cursor: pointer;
  padding: 3px 3px;
  height: 20px;
  outline: 0; 
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  margin: 5px;  
}

.eliminareditarclientes .botones{
  display: flex;
  justify-content: end;
  padding: 30px;
}

.eliminareditarclientes .boton{
  margin-top: 100px;
	background: #2B4e62;
	color: #fff;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  margin: 5px;
  font-size: 20px;
  padding: 10px;
}

.Formularios{
  background-color: #BBD6E6;
  display: flex;
  justify-content: center;
  padding: 215px;
  position: relative;
  
}

.Formularios h2{
  color: #2B4e62;
}

.Formularios select{
  display: inline-block;
	width: 100%;
	cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0; 
  border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}

.Formularios button{
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
}

.profile {
  
  align-items: center;
  padding-bottom: 270px;
  background-color: #f5f5f5; /* Color de fondo blanco */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.profile-container{
  background-color: #BBD6E6;/* Color de fondo gris claro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.profile .profile-picture {
  flex: 1;
  max-width: 100px;
}

.profile .profile-picture img {
  border-width: 50%;/* Hace que la imagen sea circular */
  max-width: 150px; /* Ajusta el tamaño de la imagen aquí */
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  padding-left: 55px;
}

.profile .profile-details {
  flex: 2;
  padding: 20px;
}

.profile-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-details h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.profile-details p {
  font-size: 16px;
  margin-bottom: 5px;
}

.datos{
  padding: 0%;
  margin: 0;
}

.registroclientes .datos form{
  width: 70%;
  margin-left: 15%;
}

.registroclientes .datos form input{
  display: inline-block;
	width: 97%;
	cursor: pointer;
  padding: 3px 3px;
  height: 20px;
  outline: 0; 
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  margin: 5px;  
}

.registroclientes .datos button{
  margin-top: 100px;
	background: #2B4e62;
	color: #fff;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  margin: 5px;
  font-size: 20px;
  padding: 5px;

}


.registroclientes{
  min-height: 100vh;
  background-color: #2B4e62;
}

.registroclientes .contenedor{
  padding: 0px 0px 0px 0px;
}

.registroclientes .encabezado {
  background-color: #BBD6E6;
  height: 30px;
  display: flex;
  text-align: left;
  justify-content: left;
  color: #2B4e62;
  padding: 10px;
  
}

.registroclientes .encabezado h2{
  margin-left: 20px;
  margin-top: 10px;
}
.registroclientes .datos{
  background-color: #BBD6E6;
  padding: 30px;
  height: 100%;
}

.registroclientes .datos li{
  text-decoration: none;
  color: #2B4e62;
  margin: 5px;
  list-style-type: none;
}

.historialclientes .contenedor .encabezado{
  margin-left: 40%;
  height: 100%;
}

.historialclientes .contenedor .gridInformacion{
  margin-top: 2%;
  justify-content: center;
  
}

.historialclientes .contenedor .gridInformacion table {
  text-align: left;
  justify-content: center;
}

.historialclientes .contenedor .gridInformacion table thead{
  background-color: #2B4e62;
  color: #f0f0f0;
  justify-items: center;
  
}

.historialclientes .contenedor .gridInformacion table tbody{
  background-color: #f0f0f0;
  color: #2B4e62;
  justify-items: center;
  font-weight: lighter;
  
  
}


.historialclientes .contenedor .gridInformacion table td b{
  padding-right: 30px;
  padding-left: 15px;
  background-color: #2B4e62;
}

.historialclientes .contenedor .gridInformacion table tbody td b{
  background-color: #f0f0f0;
}


.historialclientes .contenedor .encabezado input{
  display: inline-block;
	width: 10%;
	cursor: pointer;
  padding: 3px 3px;
  height: 20px;
  outline: 0; 
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  margin: 5px;  
}


.historialclientes .contenedor .encabezado .boton{
  margin-top: 100px;
	background: #2B4e62;
	color: #fff;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  margin: 5px;
  font-size: 20px;
  padding: 5px;
}
.historialclientes footer{
  margin-top: 35%;
}

.perfilUsuario .contenedor{
  margin-left: 20%;
  margin-top: 5%;
}

.perfilUsuario .image{
    margin: 0 auto;
    width: 95px;
    height: 102px;
    border-radius: 50%;
    border: 1px solid #2B4e62;
    display: inline-block;
    padding: 3px;
    margin-top: 20px;
    margin-right: 57px;
    margin-left: 57px;

}

.perfilUsuario .left{
  float: left;
  width: 214px;
  height: 366px;
}
.perfilUsuario .right{
  float: right;
  display: table;
  width: 60%;
  margin-top: 40px;
}
.fa{
  display: inline-block;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}
.form-control {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

.perfilUsuario label{
  cursor: default;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.perfilUsuario input{
  display: inline-block;
	width: 40%;
	cursor: pointer;
  padding: 3px 3px;
  height: 20px;
  outline: 0; 
	border-radius: 0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  margin: 5px;
}

.username{
  font-size: 21px;
  margin-top: 5px;
}

.text-center {
  text-align: center;
}

.perfilUsuario .btn{
  margin: 0 auto;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  
  touch-action: manipulation;
  margin-top: 100px;
}

.perfilUsuario .contenedor a{
  color: #fff;
  text-decoration: none;
}

.perfilUsuario .btn-primary {
  color: #fff;
  background-color: #337ab7;
  display: block;
}

.perfilUsuario .form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

.perfilUsuario .form-group {
  margin-bottom: 15px;
}





.perfilUsuario .btn {
border-radius: 3px;
box-shadow: none;
border: 1px solid transparent;
}

.perfilUsuario .left {
  position: relative;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  padding: 10px;
  margin-left: 70px;
  margin-top: 40px;
}

.historialclientes .botones{
  margin-top: 100px;
	background: #2B4e62;
	color: #fff;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
  margin: 5px;
  font-size: 20px;
  padding: 10px;
}


